<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>辨識系統</title>
    </head>
    <body>
        <div style='text-align:center'>     
        <h1>圖片辨識結果</h1> 
        <h1>你所選擇的圖片為:</h1>       
        <img style=" border: 1px solid black" id="img55" src={{ file_name }} alt='image' width=200px/-->
        <h2 >model1為真的機率 : {{ real1 }} model1為假的機率 : {{ fake1 }}<br></h2-->
        <h2 >model2為真的機率 : {{ real2 }} model2為假的機率 : {{ fake2 }}<br></h2--> 
        <h2 >model3為真的機率 : {{ real3 }} model3為假的機率 : {{ fake3 }}<br></h2-->  
        <h2 >model4為真的機率 : {{ real4 }} model4為假的機率 : {{ fake4 }}<br></h2-->
        <h2 >model5為真的機率 : {{ real5 }} model5為假的機率 : {{ fake5 }}<br></h2--> 
        <h2 >model6為真的機率 : {{ real6 }} model6為假的機率 : {{ fake6 }}<br></h2--> 
        <h2 >model7為真的機率 : {{ real7 }} model7為假的機率 : {{ fake7 }}<br></h2-->
        <h2 >model8為真的機率 : {{ real8 }} model8為假的機率 : {{ fake8 }}<br></h2--> 
        <h2 >model9為真的機率 : {{ real9 }} model9為假的機率 : {{ fake9 }}<br></h2-->
        <h2 >model10為真的機率 : {{ real10 }} model10為假的機率 : {{ fake10 }}<br></h2-->              
        <input type ="button" onclick="history.back()" value="回到上一頁">
        </div>
    </body>
</html>